html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.banner {
    width: 100%;
    height: 100%;
    background: url("../images/banner.jpeg") no-repeat scroll center center / cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner > .container {
    height: 100%;
    width: 100%;
    background-color: rgba(33,33,33,0.6);
    margin: 0;
}

.bannerText {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 50px;
    color: #fff;
    text-align: center;
}

.animated > ul > li {
    display: inline;
}

.name {
    font-size: 2em;
}

.bannerText > hr {
    margin-top: 0px;
}

h4 {
    margin-bottom: 0px;
}

h5 {
    font-size: 1.4rem;
    margin-bottom: 0px;
}

.scrollspy > hr {
    height: 2px;
    border: none;
    width: 10%;
}

.fa {
    padding-top: 15px;
    /*color: #2196F3;*/
    color: #333;
}

.fa2 {
    color: #e91e63;
}

.banner2 {
    width: 100%;
    height: 20%;
    background: url("../images/banner2.jpeg") no-repeat scroll center center / cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner2 > .container {
    height: 100%;
    width: 100%;
    background-color: rgba(33,33,33,0.6);
    margin: 0;
}

.panel2 {
    background-color: #ededed;
}

.section {
    text-align: center;
}

.social2 > a {
    margin-right: 10px;
    margin-left: 10px;
}

.social {
    margin-top: 0;
}

.social > li {
    display: inline;
    font-size: 15px;
}

.email {
    margin-top: 0px;
    margin-bottom: 0px;
    direction: rtl;
    unicode-bidi: bidi-override;
}