html, body {
    height: 100%;
    width: 100%;
}

.banner {
    width: 100%;
    height: 100%;
    background: url("../images/banner.jpeg") no-repeat scroll center center / cover;
}

.banner > .container {
    height: 100%;
    width: 100%;
    background-color: rgba(33,33,33,0.6);
    margin: 0;
}

.banner > .bannerText {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 150px;
    color: #fff;
    text-align: center;
}

.name {
    font-size: 2em;
}

.bannerText > hr {
    margin-top: 0px;
}

.qualities {
    word-spacing: 15px;
}