@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

html,
body {
  height: 100%;
  font-family: Karla, Helvetica, Century Gothic;
}

body {
  background-color: #1a1e2d;
  color: #c1c1c1;
  /* color: rgb(94, 94, 94); */
}

#title {
  color: #c1c1c1;
}

#page {
  background-color: #1a1e2d;
  color: #454a5a;
  /* color: rgb(94, 94, 94); */
}

#page-title {
  margin: 10px;
  text-align: center;
}

h1 {
  color: #fff;
  font-weight: 600;
}

h5 {
  font-weight: 400;
  font-size: 1.25rem;
}

section {
  margin-bottom: 2%;
}

.content {
  width: 100%;
  color: #aaa;
  background-color: #272b39;
  padding: 20px;
  border-radius: 8px;
}

.content h3 {
  color: #fff;
}

.content .text-muted {
  color: #d3d3d3;
}

.content a {
  color: #aaa;
}

.project {
  margin-bottom: 30px;
}

.project-desc {
  font-size: 20px;
  vertical-align: 7%;
  padding-left: 10px;
}

.project-links {
  float: left;
}

.project-links ul {
  list-style-type: none;
  padding: 0;
}

.project-links li {
  display:inline;
}

.project-links a {
  text-decoration: underline;
}

#nav {
  margin-bottom: 5%;
}

a {
  color: #fff;
  font-size: 1em;
  transition: all 0.3s ease-in;
}

a:hover {
  color: #fcd978;
}

.btn {
  transition: all 0.3s ease-in;
}

.circle {
  background-color: #fcd978;
  border-radius: 60%;
  width: 200px;
}

.blue-btn {
  border-color: #78adfc;
  border-width: 2px;
  color: #78adfc;
}

.blue-btn:hover {
  background-color: #78adfc;
  border-width: 2px;
  color: #fff;
}

.theme-btn {
  border-color: #fcd978;
  border-width: 2px;
  color: #fcd978;
}

.theme-btn:hover {
  background-color: #fcd978;
  border-width: 2px;
  color: #1a1e2d;
}

.salmon-btn {
  border-color: #fc7878;
  border-width: 2px;
  color: #fc7878;
}

.salmon-btn:hover {
  background-color: #fc7878;
  border
  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
    .content {
      width: 80%;
    }  
  }
  
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .content {
      width: 70%;
    }  
  }
  
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 
    .content {
      width: 70%;
    }  
  }
  
  /* Larger devices (larger desktops, 1920px and up) */
  @media (min-width: 1920px) { 
    .content {
      width: 50%;
    }  
  }-width: 2px;
  color: #fff;
}


.project-links .btn {
  border: none;
  border-radius: 6px;

  display: inline;
  padding: 8px;
  margin-right:5px;

  background-color: #ed8d8d;

  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.project-links .btn:hover {
  background-color: #e76464;
}

/* Tags */
.tag {
  padding:8px;
  border-radius:6px;
  font-size:20px;
  margin-right:5px;
  color: #fff;
}

#c-tag {
  background-color:#a9bbcd;
}

#csharp-tag {
  background-color: #7b3399;
}

#go-tag {
  background-color:#7fd5ea;
}

#laravel-tag {
  background-color: #ff2d20;
}

#mysql-tag {
  background-color: #e97b00;
}

#oauth-tag {
  background-color: #000;
}

#php-tag {
  background-color:#8892bf;
}

#python-tag {
  background-color: #3d79aa;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .content {
    width: 80%;
  }  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .content {
    width: 70%;
  }  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .content {
    width: 70%;
  }  
}

/* Larger devices (larger desktops, 1920px and up) */
@media (min-width: 1920px) { 
  .content {
    width: 50%;
  }  
}